
<!DOCTYPE html>
<html amp lang="en" manifest=manifest.appcache>
  <head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107311692-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107311692-1');
  
  
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/Chart.min.js"></script>
<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
   	
        
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
   <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="shortcut icon" href="assets/img/pic.jpg">

    <title>Rohit kotalwar</title>
    

    <link rel="amphtml" href="https://www.example.com/url/to/amp/document.html">
    <link href="assets/css/bootstrap.css" rel="stylesheet">  
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  
    
   
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav" >

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
				<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
			<li class="menu-item"><a class="smoothScroll" href="#resume" title="Education"><i class="icon-certificate"></i></a></li>
					<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
					<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
						</ul>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
                                      <div class="transbox">
					<h1>Rohit Kotalwar</h1>
					<h3><b>Software Engineer | Rohit_Kotalwar@outlook.com| (408) 667 - 2864</b></h3>
                                      </div>
				</div>
			</div>
		</div>
	</div>
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5><b>ABOUT</b></h5>
					<img src="assets/img/Rohit.jpg" height="230" width="190">
				</div><br>
				<div class="col-lg-7">
					<p align="justify">Software developer pursuing MS in Computer Engineering at San Jose State University with course work focused in Software Development, Web UI Development, Cloud Technologies and Software Defined Networking.</p>
				</div>
				<div class="col-lg-2">
					<p><a href="Doc/Software_Fulltime.pdf" target="_blank"><i class="icon-file"></i> <b><sm>VIEW RESUME</sm></b></a></p>
					
				</div>
				
			</div>
		</div>
	</div>


	<section id="resume" name="resume"></section>
	
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5><b>EDUCATION</b></h5>
				</div>
				<div class="col-lg-6">
					<p><t>Master of Science in Computer Engineering</t><br/>
				        San Jose State University <br/>
						<i>2 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>Jan 2016 - Dec 2017</sm><br/>
					<!--<img class="img-responsive" src="assets/img/NEU-logo.png" alt="" height="70" width="70">-->
					</p>
				</div>
	
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Bachelor of Engineering in Computer Engineering</t><br/>
						 University of Mumbai<br/>
						<i>4 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>Aug 2010 - May 2014</sm></p>
				</div>
	
		</div>
		<br>
		<hr>
	</div>
	
	
	
	<div class="container desc">
		<div class="row">


				<div class="col-lg-2 col-lg-offset-1">
					<h5><b>WORK EXPERIENCE</b></h5>
				</div>
				<br>
				<br>

				<div class="col-lg-6 col-lg-offset-3">
						<p><t>Software Engineering Development </t><br/>
						<b>Cisco Systems.</b><br/>

					</p>
					<p align="justify">
					<more>
                    <p align="justify">
							Currently Working on building scalable automation environment and creating continuous deployment framework using python for testing and deploying software on next generation Distributed Routing Platform.
						</p>
					<ul>
				
					<li>  Developing Parser to Check the Consistency across the different Distributed Routing Platform (involving ASR9000, NCS5500 Routers). </li>

					<li>  Integration, Regression Testing for Open Forwarding Abstraction which is Cisco’s hardware abstraction layer for Broadcom DNX Network Devices. </li>
					

                   </ul>
                   </more>
                   </p>
				</div>
				<div class="col-lg-3">
					<p><sm>March 2018 - Present</sm></p>
					<img class="img-responsive" src="assets/img/Cisco.jpg" alt="" height="200" width="300">
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Software Developer Intern - Internet of Things</t><br/>
						<b>F5 Networks Inc.</b><br/>

					</p>
					
					<p align="justify">
					<more>
                    <p align="justify">
							Primary responsibilities included designing and developing web applications with HTML, CSS, JavaScript, Bootstrap, jQuery, AJAX, JSON, NodeJs, AngularJs and RESTful Web Services.
						</p>
					<ul>
				
					<li>  Developed Web Application using MEAN Stack for IoT framework and Integrated with BIGIP(F5 Product).</li>

					<li>  Created the provision to Configure IoT Framework, incorporated access Rules in IoT application.</li>
					<li> By Using IAppLX application can create and configure MQTT Servers, also developed Access Management for these MQTT Servers</li>
					<li>  Experienced with UI framework and interfacing with REST API's using MEAN Stack.</li>
					<li>  Maintained version control of the application via Perforce</li>
					<li>  Completed nearly 100% of the Alpha Version og project in the duration of my internship</li>
					<li>  Followed Agile development and consistently delivered new features on time, communicated updates in daily scrum meetings</li>
					<li> Working with various team members, such as project managers, product manager, QA, and other developers
					</li>
					<li> Experienced with UI framework and interfacing with REST API's using MEAN Stack.
					</li>
					<li> Hands on Experience using Continuous Integration Tools such as Peforce, Git and Jenkins.
					</li>
					<li>  Hands on Experience using HTML, CSS, ANGULARJS and NODEJS.
					</li>

                   </ul>
                   </more>
                   </p>
				</div>
				
				<div class="col-lg-3">
					<p><sm>Jun 2017 - Aug 2017</sm></p>
					<img class="img-responsive" src="assets/img/F5-Networks.jpg" alt="" height="100" width="100">
				</div>
					
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Graduate Research Assistant</t><br/>
						San Jose State University<br/>
					</p>
				  <ul>
					
						<li>	Researched on Security for SDN Floodlight Controller from Network attack using Snort IDS.</li>
						<li>	Written User Rules for Snort, for detecting the attack.</li>
						<li>	Researched and developed an application on Routing for SDN Floodlight Controller.</li>
						<li>	Researched and developed an application on Load balancing for SDN Floodlight Controller.</li>
						<li>	Researched on tunneling between two Mininets using GRE protocol.</li>
						<li>  Researched on Open Flow Rules on Open vSwitch and code analysis of Floodlight Modules.</li>
						<li>   Simulated various types of attacks to determine the agility of the SDN.</li>
						<li>  Performance analysis of SDN at the time of Attack.</li>
						<li>	Demonstrated the addition, deletion of flow rules in the flow table of Open vSwitch.</li>
						<li>   Code analysis of Floodlight Provider Module.</li>
						<li>  Analyzed the dependent module of Floodlight Provider Module.</li>
						<li>	Demonstrated the OpenFlow Protocol with its applications including Network Configuration and Management, and SDN Controller floodlight in mininet Environment.</li>
						<li>  Used Eclipse IDE for analysis.</li>

                  </ul>
				</div>
					
				<div class="col-lg-3">
					<p><sm>Aug 2016 - Dec 2016</sm></p>
					<img class="img-responsive" src="assets/img/SanJose.png" alt="" height="100" width="100">
				</div>
	
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>System Software Engineer</t><br/>
						Infosys Limited<br/>
					</p>
					<ul>
	                    <li>  As a Software developer, I developed various modules using Nodejs, MySQL, AngularJS, and Eclipse IDE.</li>
	                    <li>   Developed database schemas for MySQL and user interfaces using AngularJS, HTML and CSS.</li>
	                    <li>   Thorough understanding and implementation of OOP Concepts. </li>
	                    <li>   Developed Web application prototype for Insurance company.</li> 
	                    <li>  Designed Software Requirement Specification Plan for the Prototype.</li>
	                    <li>   Delivered functional enhancements and performance improvement to the existing application.</li>

	                    <li>   Successfully completed extensive training on Programming Technologies such as java, perl, shell scripting, MySQL, PHP, MYSQL, NODEJS, ANGULARJS and training on object oriented software engineering concepts and Database Management System.</li>
                    </ul>
				</div>		
				<div class="col-lg-3">
					<p><sm>Jun 2014 - Jan 2015</sm></p>
					<img class="img-responsive" src="assets/img/Infosys.jpg" alt="" height="100" width="100">
				</div>			
		</div>
		<br>
		<hr>
	</div>
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5><b>Publications</b></h5>
				</div>
				
				<div class="col-lg-6">
					<p><t>Data Mining: Evaluating Performance of Employee’s using
Classification Algorithm Based on Decision Tree. 
</t><br/>
						IRACST – Engineering Science and Technology: An International Journal
(ESTIJ), ISSN: 2250-3498. Vol.4, No. 2, April 2014. <br/>
						
					</p>
					
				</div>
				
				<div class="col-lg-3">
					<p><sm>April 2014</sm></p>
				</div>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Robust and Agile System against Fault and Anomaly Traffic
in Software Defined Networks.
</t><br/>
						Appl. Sci. 2017, 7(3), 266; doi:10.3390/app7030266.
http://www.mdpi.com/2076-3417/7/3/266 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>March 2017</sm></p>
				</div>
	
			
		
		</div><!--/.row -->
		<br>
	</div><!--/.container -->
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="#">
						<center><h5><b>WEB TECHNOLOGY SKILLS</b></h5></center><br>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="HTML" height="130" width="130"></canvas>
						<p>HTML5/CSS3</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("HTML").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>Javascript & ES6</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>PHP/MYSQL</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 centered">
						<canvas id="Java" height="130" width="130"></canvas>
						<p>Node Js/ MongoDB</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("Java").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					
					
					<div class="col-lg-3 centered">
						<canvas id="SAS" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("SAS").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					
					<div class="col-lg-3 centered">
						<canvas id="SQL" height="130" width="130"></canvas>
						<p>JQuery/ AJAX</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("SQL").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="PHP" height="130" width="130"></canvas>
						<p>REST API/ JSON</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("PHP").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 centered">
						<canvas id="JQuery" height="130" width="130"></canvas>
						<p>NodeJS/AngularJS</p>
						
						<script>
						
							var doughnutData = [
									{
										value: 30,
										color:"#1abc9c"
									},
									
									{
										value : 70,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("JQuery").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div>
			<br>
		</div>
	</div>



	<section id="work" name="work"></section>

	<div class="container desc">
		<div class="row">
				<div class="col-lg-1 col-lg-offset-1">
					<h5><b>PROJECTS</b></h5>
				</div>
				
				<div class="col-lg-5">
					<p><img class="img-responsive" src="assets/img/front_end.png" alt=""></p>
				</div>
				<div class="col-lg-4">
					
				<ul>
				
					
					<li><a href="" target="_blank"> Designed and developed infrastructure for data insight in software defined networking</a></li>				
					<li><a href="" target="_blank">Inventory-Management-System</a></li>
					<li><a href="" target="_blank">CloudBox</a></li>
					<li><a href="" target="_blank">Network Traffic Analyzer</a></li>
					<li><a href="" target="_blank">Routing and Load Balancing on Floodlight controller using Rest API (Software Defined Networking)</a></li>	
					<li><a href="" target="_blank"> Developed Cloud Infrastructure for Virtualization of Mobile Sensor Networks - Animal Tracking System</a></li>
					<li><a href="" target="_blank">Intrusion Detection and Prevention System, Network security for floodlight controller(Software Defined Networking)</a></li>
					<li><a href="" target="_blank">Developed and Deployed RTSP/RTP Video Stream Server on Amazon AWS Ec2</a></li>
					<li><a href="" target="_blank">Enterprise Resource Planning Application: Appraisal System</a></li>
					</ul>
								
					<sm><i class="icon-tag"></i> HTML5, CSS3, JavaScript, ES6, Ajax, JQuery, Bootstrap, NodeJs, AngularJs, PHP, MYSQL, MongoDB, Python </sm></more> 
					</p>
				</div>	
		</div>
		<br>
		<br>
	</div>
	


	<section id="contact" name="contact"></section>
	
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5><b>CONTACT</b></h5>
				</div>
				<div class="col-lg-6">
					<p><i class="glyphicon glyphicon-envelope"></i><t>Email</t><br/>
						Rohit.Kotalwar@sjsu.edu <br/>
						Rohit_Kotalwar@outlook.com<br>
					</p>
					<p><i class="glyphicon glyphicon-home"></i><t>Address</t><br/>
				
						San Jose - 95110 <br/>
						California, USA <br/>
					</p>
					<p><t>Phone</t><br/>
					<i class="glyphicon glyphicon-earphone"></i>	+1 (408) 667-2864<br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>
			<a href="https://github.com/rohitkotalwar" target="_blank" title="Github"><i class=" icon-github"></i></a>
			<a href="https://twitter.com/Rohitkotalwar" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
			<a href="https://www.facebook.com/rohit.kotalwar" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
			<a href="https://www.linkedin.com/in/rohit-kotalwar-a7ba999b" target="_blank" title="LinkedIn"><i class="icon-linkedin"></i></a>
		<a href="https://plus.google.com/u/0/" target="_blank" title="Google Plus"><i class="icon-google-plus"></i></a>
		
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="c">
		<div class="container">
			<center><p>Designed By &copy; 2018 <a href="#"> Rohit Kotalwar</a></p></center>
		
		</div>
	</div>
  </body>  
</html>